

@media (max-width: 912px) {
  #root {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background-image: url(public/pexels-james-wheeler-1542493.jpg);
    background-position: center;
    background-size: cover;
    color: white;
  }
  .App{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "date"
    "text" 
    "button"
    ;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 70% 10%;
  }
  .date{
    grid-area: date;
    margin: 0;
  }
  #day{
    font-size: 8vw;
    margin: 0;
  }
  #month{
    font-size: 15vw;
    margin: 0;
  }
  .text{
    grid-area: text;
    font-size: 6vw;
  }
  #btn{
    width: 90%;
    height: 60%;
    border-radius: 20px;
    text-align: center;
    font-size: 4vw;
  }
  #btn:hover{
    background-color: #a0a0a0;
  }
}
@media (min-width: 913px) {
  #root {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image: url(/public/pexels-james-wheeler-1542493.jpg);
    background-position: center;
    background-size: cover;
  
  }
  .App{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "text text" 
    "date button"
    ;
    align-items: center;
    justify-items: start;
    grid-template-columns: 70% 30%;
    grid-template-rows: 60% 40%;
  }
  .text{
    width: 50%;
    height: 70%;
    grid-area: text;
    font-size: 2vw;
    color: white;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
    padding: 20px 50px;
    text-align: left;
  }
  .date{
    grid-area: date;
    color: white;
    position: relative;
    padding-left: 30px;
  
  }
  #day{
    font-size: 6vw;
    margin: 10px;
  }
  #month{
    font-size: 13vw;
    margin: 10px;
  }
  #btn{
    font-size: 1vw;
    grid-area: button;
    width: 40%;
    height: 12%;
    border-radius: 20px;
    background-color: white;
    position: relative;
    top: 30%;
    left: 50%;
  }
  #btn:hover{
    background-color: #a0a0a0;
  }
  #btn:active {
    background-color: #a0a0a0;
  }
}